/* GENERAL LAYOUT */
:root {
  font-size: 16px; /* Setup for using the REM Value on Desktop Sizing. */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  /*color-scheme: light dark;*/ /* Disable this if it is affecting your design. This is just used to automatically adopt the theme of the User Computer. */
  scroll-behavior: smooth;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

/* HEADER - LAYOUT */
header {
  padding: 18px 0;
}
.main-menu {
  text-align: right;
}

.main-menu li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
}

.main-menu li:first-child {
  margin-left: 0;
}

.main-menu li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344051;
}

.main-menu li:nth-child(6) a {
  color: #fff;
  padding: 10px 20px;
  background: #1a75ff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.main-menu li:last-child {
  display: none;
}

/* MEDIA QUERIES - 1200 pixels */
@media (max-width: 75rem) {
}

/* MEDIA QUERIES - 992 pixels */
@media (max-width: 62rem) {
}

/* MEDIA QUERIES - 768 pixels */
@media (max-width: 48rem) {
}

/* MEDIA QUERIES - 576 pixels */
@media (max-width: 36rem) {
}

/* MEDIA QUERIES - 414 pixels */
@media (max-width: 25.875rem) {
}
