/* GENERAL LAYOUT */
:root {
  font-size: 16px; /* Setup for using the REM Value on Desktop Sizing. */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  /*color-scheme: light dark;*/ /* Disable this if it is affecting your design. This is just used to automatically adopt the theme of the User Computer. */
  scroll-behavior: smooth;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

h2 {
  margin-top: 0;
}

/* HEADER - LAYOUT */
header {
  padding: 18px 0;
}
.main-menu {
  text-align: right;
}

.main-menu li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
}

.main-menu li:first-child {
  margin-left: 0;
}

.main-menu li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344051;
}

.main-menu li:nth-child(6) a {
  color: #fff;
  padding: 10px 20px;
  background: #1a75ff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.main-menu li:last-child {
  display: none;
}

/* MAIN SECTION - LAYOUT */
.main-page {
  margin-top: 40px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #141c24;
}

h1 span {
  position: relative;
}

h1 span::before {
  content: "";
  position: absolute;
  background: url(img/header-underline.png);
  z-index: -1;
  height: 6px;
  bottom: 0;
  left: 0;
  right: 0;
}

.desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #344051;
  margin-bottom: 70px;
}

.buttons {
  margin-bottom: 25px;
}

.buttons a {
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 20px;
}

.learn-more {
  margin-right: 8px;
  color: #fff;
  background: #1a75ff;
}

.watch-demo {
  border: 1px solid #ced2da;
  color: #344051;
}

.watch-demo img,
.watch-demo span {
  display: inline-block;
}

.watch-demo img {
  margin-right: 10px;
}

.tablet-photo,
.mobile-photo {
  display: none;
}

.desc2 {
  margin-bottom: 6px;
}

.ratings img {
  display: inline-block;
}

/* OUR FEATURES - LAYOUT */
.our-features {
  padding: 100px 0 160px;
}

.our-features h2,
.our-features p.desc {
  text-align: center;
}

.our-features h2 {
  margin-bottom: 0;
}

.our-features h2 span:first-child {
  font-weight: 500;
  font-size: 14px;
  color: #0052cc;
  background: #f0f6ff;
  padding: 2px 10px;
  border-radius: 150px;
}

.our-features h2 span:last-child {
  margin-top: -22px;
  display: block;
  font-weight: 600;
  font-size: 36px;
  color: #141c24;
}

.our-features p.desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #344051;
}

.features-content {
  padding: 40px 0;
}

.feature-block {
  display: inline-block;
  color: #002966;
  margin: 20px 50px 20px 0;
}

.feature-block h3 {
  margin: 20px 0 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.feature-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.features-photo {
  margin-bottom: 30px;
}

/* GET STARTED SECTION - LAYOUT */
.get-started {
  text-align: center;
  margin-bottom: 220px;
}

.get-started h2.title2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #141c24;
}

.get-started p.desc2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #344051;
  margin-bottom: 40px;
}

.get-started img {
  display: inline-block;
}

.inner1-container-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  max-width: 592px;
  margin: 0 auto 120px;
  text-align: center;
}

.inner1-container-blocks p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.inner1-container-blocks p img {
  margin-bottom: -12px;
  margin-right: 10px;
  margin-left: -7px;
}

.inner2-block {
  display: grid;
  grid-template-columns: 130px auto;
  grid-gap: 8px;
  max-width: 307px;
  margin: 0 auto;
}

.inner2-block a {
  padding: 10px 20px;
}

.inner2-block a:first-child {
  background: #1a75ff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.inner2-block a:last-child {
  font-weight: 600;
  font-size: 16px;
  color: #344051;
}

.inner2-block a:last-child img {
  margin-bottom: -4px;
  margin-right: 5px;
  margin-left: -10px;
}

/* FAQ SECTION - LAYOUT */
.faq {
  text-align: center;
  margin-bottom: 80px;
}

.faq-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #141c24;
}

.faq-desc {
  max-width: 650px;
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #344051;
}

.accordion {
  text-align: left;
  max-width: 800px;
  width: 90%;
  margin: 60px auto 40px;
}

.accordion-item {
  border: 1px solid #ced2da;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.accordion-title {
  padding: 26px 30px;
  cursor: pointer;
}

.accordion-title h3 {
  font-weight: 500;
  font-size: 18px;
  color: #141c24;
  margin: 10px 0;
}

.accordion h3 span {
  float: right;
  height: 20px;
  width: 20px;
  background: url(img/open-icon.png);
  background-position: center;
}

.accordion .accordion-title.active h3 span {
  background: url(img/close-icon.png);
}

.accordion-content {
  display: none;
  padding: 0 30px 30px;
  background-color: #ffffff;
}

.accordion-content p {
  font-weight: 400;
  font-size: 16px;
  color: #344051;
}

.contact-us {
  max-width: 527px;
  width: 50%;
  margin: 0 auto;
  background: #f0f6ff;
  border-radius: 20px;
  padding: 32px;
  text-align: center;
}

.contact-us h4 {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  color: #002966;
}

.contact-us p {
  font-weight: 400;
  font-size: 14px;
  color: #002966;
  margin-bottom: 35px;
}

.contact-us a {
  display: inline-block;
  padding: 10px 20px;
  background: #1a75ff;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.contact-us a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* BLOG SECTION - LAYOUT */
.blogs {
  text-align: center;
  margin-bottom: 150px;
}

.blog-title {
  text-align: center;
  margin-bottom: 0;
}

.blog-title span:first-child {
  font-weight: 500;
  font-size: 14px;
  color: #0052cc;
  background: #f0f6ff;
  padding: 2px 10px;
  border-radius: 150px;
}

.blog-title span:last-child {
  margin-top: -22px;
  display: block;
  font-weight: 600;
  font-size: 36px;
  color: #141c24;
}

.blog-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #344051;
  text-align: center;
  max-width: 650px;
  width: 80%;
  margin: 0 auto 60px;
}

.blogs .main-photo {
  height: 213px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.photo-1 {
  background: url(img/blog-photo-1.png) no-repeat;
  background-size: cover;
}

.photo-2 {
  background: url(img/blog-photo-2.png) no-repeat;
  background-size: cover;
}

.photo-3 {
  background: url(img/blog-photo-3.png) no-repeat;
  background-size: cover;
}

.main-info {
  margin: 0 20px;
  text-align: left;
}

.main-info img,
.main-info p {
  display: inline-block;
}

.main-info img {
  margin-bottom: -2px;
  margin-right: 6px;
}

.main-info p span:first-child {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344051;
  margin-top: -1px;
}

.main-info p span:last-child {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #637083;
}

.blog-post-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #141c24;
  margin: 20px 0;
}

.blog-post-desc {
  margin-bottom: 30px;
}

.blog-tags a {
  display: inline-block;
  padding: 2px 8px;
  background: #e6efff;
  border-radius: 150px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #004ecc;
}

.blog-tags .more-link {
  background: #f2f4f7;
  color: #344051;
}

.load-more {
  display: inline-block;
  margin: 50px auto 0;
  padding: 12px 24px;
  background: #1a75ff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

/* NEWSLETTER SECTION - LAYOUT */
.newsletter {
  padding: 64px;
  border-radius: 32px;
  background-color: #f0f6ff;
  background-image: url(img/newsletter-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  overflow: hidden;
  margin-bottom: 150px;
}

.news-header {
  font-weight: 600;
  font-size: 36px;
  max-width: 692px;
  color: #002966;
  margin-bottom: 12px;
}

.news-desc {
  font-weight: 400;
  font-size: 18px;
  max-width: 513px;
  color: #002966;
  margin-bottom: 30px;
}

input[type="email"] {
  display: inline-block;
  padding-left: 12px !important;
  padding-right: 8px !important;
  max-width: 357px;
  height: 44px !important;
  margin-bottom: 0 !important;
  background: #ffffff !important;
  border-radius: 8px !important;
  border: none !important;
  font-weight: 400;
  /* font-size: 16px; */
  color: #637083;
}

.subscribe {
  height: 44px;
  vertical-align: top;
  margin-left: 10px;
  padding: 10px 20px;
  background: #1a75ff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

/* OUR CLIENTS SECTION - LAYOUT */
.our-clients {
  margin-bottom: 80px;
  text-align: center;
}

.client-title {
  font-weight: 600;
  font-size: 36px;
  color: #141c24;
  margin-bottom: 60px;
}

.our-clients .row {
  padding-bottom: 50px;
}

.our-clients img {
  display: inline-block;
}

/* FOOTER SECTION - LAYOUT */
.footer-top {
  border-bottom: 1px solid #e4e7ec;
}

.footer-top h2 {
  font-weight: 600;
  font-size: 18px;
  color: #141c24;
}

.footer-top a {
  font-weight: 500;
  font-size: 16px;
  color: #344051;
}

.whitespace-info a {
  display: block;
  margin-bottom: 15px;
}

.whitespace-info p {
  margin-bottom: 25px;
}

.whitespace-info img {
  display: inline-block;
}

.social-media a {
  display: inline-block;
  margin-right: 5px;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
}

.contact-us-links p {
  margin-bottom: 10px;
}

.contact-us-links img,
.contact-us-links span,
.contact-us-links a {
  display: inline-block;
  vertical-align: middle;
}

.contact-us-links img {
  margin-right: 5px;
}

.contact-us-links span {
  font-weight: 500;
  font-size: 16px;
  color: #344051;
}

.footer-bottom {
  padding: 30px 0;
}

.footer-bottom .row {
  margin-bottom: 0;
}

.footer-bottom p {
  font-weight: 400;
  font-size: 16px;
  color: #141c24;
}

.footer-bottom .col:first-child {
  padding-left: 0;
}

.footer-bottom .col:last-child {
  text-align: right;
  padding-right: 0;
}

.footer-bottom a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  color: #1a75ff;
  position: relative;
}

.footer-bottom a:first-child {
  margin-right: 11px;
  /* border-right: 1px solid #ced2da; */
}

.footer-bottom a:first-child::before {
  content: "";
  height: 16px;
  width: 1px;
  background: #ced2da;
  position: absolute;
  top: 4px;
  right: -11px;
}

.footer-bottom a:last-child {
  margin-left: 10px;
}

/* MEDIA QUERIES - 1200 pixels */
@media (max-width: 75rem) {
}

/* MEDIA QUERIES - 992 pixels */
@media (max-width: 62rem) {
}

/* MEDIA QUERIES - 768 pixels */
@media (max-width: 48rem) {
}

/* MEDIA QUERIES - 576 pixels */
@media (max-width: 36rem) {
}

/* MEDIA QUERIES - 414 pixels */
@media (max-width: 25.875rem) {
}
